@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Share+Tech&family=VT323&display=swap');


/* styles.css */
body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none; 
    outline: none; 
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 100px;
    z-index: 2;
}

.barra_de_pesquisa {
    position: relative;
    display: inline-block;
    width: 100%; 
    max-width: 500px;
}

.barra_pesquisar {
    width: 100%;
    padding: 2vh;
    border-radius: 10px;
    font-size: 16px;
    border: 4px solid #244aa5;
}

.barra_pesquisar::placeholder {
    color: #999; /* Cor do texto placeholder */
}

.lupa_de_pesquisa {
    position: absolute;
    right: -3vh;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.lupa_de_pesquisa img {
    display: block;
}

.drop_down {
    position: relative; /* Define o contêiner pai para o posicionamento absoluto do dropdown */
    display: inline-block;
    background-color: #f9f9f9; /* Cor de fundo */
    border: 3px solid #000000; /* Borda */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    cursor: pointer; /* Cursor de mão para indicar interatividade */
    transition: background-color 0.3s; /* Transição suave para cor de fundo */
    z-index: 10; /* Garante que o contêiner esteja acima do dropdown */
}

.container_nome_usuario {
    display: flex;
    align-items: center; /* Alinha o texto verticalmente ao centro */
    pointer-events: none;
}

.container_nome_usuario h1 {
    font-size: 18px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    margin: 0; /* Remove margens */
    padding-right: 10px; /* Espaço entre o texto e a imagem */
}

.tracos_drop {
    width: 20px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    pointer-events: none;
}

.dropdown_content {
    position: absolute; /* Posiciona o dropdown em relação ao contêiner pai */
    background-color: #f9f9f9; /* Cor de fundo */
    border: 3px solid #000000; /* Borda */
    border-top: none; /* Remove a borda superior */
    border-radius: 0 0 5px 5px; /* Apenas as bordas inferiores serão arredondadas */
    padding: 10px; /* Espaçamento interno */
    margin-top: 8px; /* Espaço entre o dropdown e o conteúdo */
    width: calc(100% - 25px); /* Ajusta a largura do dropdown, subtraindo o padding */
    max-height: 0; /* Inicialmente com altura 0 */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o contêiner */
    opacity: 0; /* Inicialmente transparente */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Transições suaves */
    z-index: 1; /* Garante que o dropdown fique atrás do contêiner principal */
    left: 0; /* Alinha o dropdown com o início do contêiner pai */
}

.dropdown_content a {
    color: #333; /* Cor do texto */
    padding: 8px 12px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado */
    display: block; /* Faz o link ocupar a largura toda */
}

.dropdown_content a:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.show {
    max-height: 300px; /* Define a altura máxima do dropdown, ajuste conforme necessário */
    opacity: 1; /* Torna o conteúdo opaco */
}

.container_perfil {
    width: 100%;
    height: 17vh;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container_interno_perfil {
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    background-color: #244aa5;
    width: 70%;
    padding: 20px; /* Adiciona um espaçamento interno */
    border-radius: 20px;
    color: white;
    position: relative; /* Mantém o posicionamento relativo */
}

.container_interno_perfil h1 {
    font-size: 24px; /* Ajusta o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin: 0; /* Remove margens para ajuste fino */
}

.linha {
    background-color: white;
    width: 124vh;
    height: 3px;
}

.container_separacao {
    width: 100%;
    height: 10vh;
    margin-top: 6vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container_interno_separacao {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center;
    background-color: #fabc09;
    width: 90%; /* Aumenta a largura para melhor ocupar o espaço */
    max-width: 1200px;
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px auto; /* Centraliza o container na tela */
    margin-bottom: 6vh;
}

.container_interno_separacao h1 {
    .container_interno_separacao h1 {
        font-size: 24px;
        font-weight: bold;
        margin: 0; /* Remove margens para centralizar melhor */
        text-align: center;
    }
}

.container_fundo_aluno {
    width: 90%; /* Ajusta a largura para ser consistente com o título */
    max-width: 1200px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza o container */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0; /* Ajusta o padding para manter a proximidade */
}

.bloco_alunos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards */
    gap: 20px; /* Adiciona espaçamento uniforme entre os cards */
}

.box_Aluno {
    background-color: #244aa5;
    border: 3px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.267);
    width: calc(33% - 40px); /* Ajusta a largura para se adaptar ao espaço disponível */
    flex: 1 1 250px;
    height: auto;
    min-width: 200px; /* Largura mínima para manter a legibilidade */
    max-width: 250px; /* Largura máxima */
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #ffffff;
    transition: transform 0.3s; /* Adiciona uma pequena animação */
}

.box_Aluno:hover {
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.box_Aluno span:first-child {
    font-weight: bold; /* Negrito para o nome do aluno */
    font-size: 1.2rem; /* Tamanho da fonte para o nome do aluno */
    margin-bottom: 10px; /* Espaçamento abaixo do nome do aluno */
    text-align: center; /* Centraliza o texto */
}

.box_Aluno span:nth-child(2) {
    font-size: 0.9rem; /* Tamanho da fonte para o texto */
    margin-bottom: 10px; /* Espaçamento abaixo do texto */
    text-align: center; /* Centraliza o texto */
}

.box_Aluno img {
    width: 50px; /* Largura da imagem */
    height: auto; /* Manter a proporção da imagem */
    margin-top: 10px; /* Espaçamento acima da imagem */
}

.box_Aluno .solicitacao {
    margin-top: 5px; /* Opcional: adicionar um pouco de margem acima do texto */
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.box_Aluno button {
    background-color: #ed1b24; /* Cor de fundo */
    border: none; /* Sem borda */
    color: #ffffff; /* Cor do texto */
    padding: 5px 10px; /* Espaçamento interno reduzido */
    font-size: 0.75rem; /* Tamanho da fonte reduzido */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mãozinha */
    position: absolute; /* Posição absoluta */
    bottom: 10px; /* Alinhado ao fundo do bloco */
    right: 10px; /* Alinhado à direita da imagem */
}

.box_Aluno button:hover {
    background-color: #ffd700; /* Cor de fundo mais clara ao passar o mouse */
    color: #244aa5;
}

.container_fundo_editar_perfil {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Define uma largura máxima */
    align-items: center;
    justify-content: center;
    margin: 20px auto; /* Centraliza o container */
    padding: 20px;
}

.container_editar_perfil {
    width: 80%;
    max-width: 600px; /* Define uma largura máxima */
    background-color: #244aa5;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #002d95;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.container_editar {
    width: 100%;
    height: 10vh;
    color: white;
    margin-left: 5%;
    font-size: 20px;
}

.container_inputs {
    width: 90%; /* Ajusta a largura do formulário */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 3px solid #ffd700;
    margin: 0 auto; /* Centraliza o formulário dentro do container */
}

.container_inputs span {
    margin-top: 10px; /* Espaçamento superior */
    margin-bottom: 5px; /* Espaçamento inferior */
    font-weight: bold; /* Texto em negrito */
    color: #333; /* Cor do texto */
}

.container_inputs input {
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento inferior */
    border: 1px solid #ccc; /* Borda dos inputs */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    width: 100%; /* Largura total do contêiner */
    box-sizing: border-box; /* Inclui a borda e o padding na largura total */
 }

.container_inputs button {
    background-color: #ffd700;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Adiciona espaçamento superior */
}

.container_inputs button:hover {
    background-color: #d0b100; /* Cor de fundo ao passar o mouse */
}

.container_fundo_exclusao {
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container_exclusao {
    display: flex; /* Ativa o flexbox */
    flex-direction: column; /* Organiza itens em coluna */
    gap: 15px; /* Espaçamento entre os itens */
    width: 100%; /* Largura total */
    margin: 20px auto; /* Centraliza horizontalmente */
    padding: 20px; /* Espaçamento interno */
    align-items: center;
    height: 20vh;
    justify-content: space-around;
    margin-bottom: 8vh;
}

.exclusao_item {
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza verticalmente */
    gap: 10px; /* Espaçamento entre o botão e o ícone */
}

.container_exclusao button {
    width: 35vh;
    height: 8vh;
    background-color: #ed1b24; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 20px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mãozinha */
    transition: background-color 0.3s; /* Transição suave */
}

.container_exclusao button:hover {
    background-color: #c3000a; /* Cor de fundo ao passar o mouse */
}

.info_icon {
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    width: 3vh; /* Largura do ícone */
    height: 3vh; /* Altura do ícone */
    border-radius: 50%; /* Bordas arredondadas (círculo) */
    background-color: #1a3678; /* Cor de fundo do ícone */
    color: #ffffff; /* Cor do texto do ícone */
    font-weight: bold; /* Negrito */
    font-size: 20px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mãozinha */
    transition: background-color 0.3s; /* Transição suave */
}

.info_icon:hover {
    background-color: #b89a00; /* Cor de fundo ao passar o mouse */
}

.container_notificacao_exclusao {
    position: fixed; /* Mantém o contêiner fixo na tela */
    background-color: rgba(44, 44, 44, 0.73); /* Cor com opacidade */
    width: 100%;
    height: 100%; /* Ocupa toda a altura da tela */
    top: 0; /* Alinha ao topo da tela */
    left: 0; /* Alinha à esquerda da tela */
    z-index: 9999; /* Garante que o contêiner esteja acima de outros elementos */
    display: flex; /* Para centralizar o conteúdo, se necessário */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    backdrop-filter: blur(10px); /* Adiciona o efeito de desfoque */
}

.bloco_notificacao_exclusao {
    background-color: #ffffff;
    width: 30%;
    height: 30vh;
    border-radius: 20px;
    border: 3px solid #ED1B24; /* Adiciona a borda azul de 3px */
}

.container_notificacao {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo principal */
    position: relative; /* Posicionamento relativo para permitir a posição absoluta da imagem */
    font-size: 30px;
    color: #ED1B24;
    font-weight: 700;
}

.notificacao {
    flex: 1; /* Permite que o span ocupe o espaço disponível */
    text-align: center; /* Centraliza o texto */
}

.imagem_wrapper2 {
    position: absolute;
    right: 20px; /* Posiciona a imagem à direita */
    display: flex;
    align-items: center; /* Centraliza a imagem verticalmente */
    border-radius: 5px; /* Arredonda os cantos */
    transition: background-color 0.3s ease; /* Transição suave para o fundo */
}

.imagem_wrapper2:hover {
    background-color: rgba(255, 0, 0, 0.3); /* Fundo vermelho suave ao passar o mouse */
}

.container_notificacao img {
    height: 30%; /* Ajusta a altura da imagem conforme necessário */
    cursor: pointer; /* Adiciona um cursor de pointer para indicar que a imagem é clicável */
}


.container_mensagem_notificacao {
    width: 70%;
    height: 12vh;
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: justify; /* Justifica o texto dentro do span */
    font-size: 18px;
    margin: 0 auto; /* Centraliza a div horizontalmente */
    font-weight: 600;
}

.container_mensagem_notificacao span {
    width: 100%; /* Garante que o span ocupe toda a largura disponível */
}

.container_fechamento {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-top: 20px; /* Espaçamento superior */
}

.botao_cancelar {
    width: 25%;
    background-color: #f44336; /* Fundo cinza */
    color: #fff; /* Texto branco */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o botão */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave para a cor de fundo e transformação */
}

.botao_cancelar:hover {
    background-color: #a3261d; /* Fundo cinza mais claro ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

.botao_cancelar:active {
    background-color: #666666; /* Fundo cinza escuro ao clicar */
    transform: scale(0.95); /* Diminui ligeiramente o tamanho ao clicar */
}

.botao_ok {
    width: 25%;
    background-color: #4CAF50; /* Fundo amarelo */
    color: #fff; /* Texto branco */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o botão */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave para a cor de fundo e transformação */
}

.botao_ok:hover {
    background-color: #409543; /* Fundo amarelo mais claro ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

.botao_ok:active {
    background-color: #FFB300; /* Fundo amarelo escuro ao clicar */
    transform: scale(0.95); /* Diminui ligeiramente o tamanho ao clicar */
}

/* Estilos para o contêiner do alerta */
.container_alerta {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Cor de fundo para sucesso */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
    width: 300px; /* Largura do alerta */
    text-align: center; /* Centraliza o texto */
    display: none; /* Inicialmente oculto */
}

/* Estilos para o título do alerta */
.titulo_alerta {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

/* Estilos para o texto do alerta */
.texto_alerta {
    font-size: 16px;
}

/* Estilos para o alerta quando exibido */
.container_alerta.show {
    display: block;
    opacity: 1;
    top: 40px; /* Movimenta o alerta um pouco para baixo */
}

/* Estilos para um alerta de erro */
.container_alerta.error {
    background-color: #f44336; /* Cor de fundo para erro */
}

/* Estilos para um alerta de sucesso */
.container_alerta.success {
    background-color: #4CAF50; /* Cor de fundo para sucesso */
}

/* Footer */
footer {
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.footer-content > div {
    flex: 1;
    padding: 10px;
    position: relative;
}

.footer-content > div:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 3px;
    background-color: yellow;
}

.footer-content > div:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 3px;
    background-color: blue;
}

.logo-footer img {
    width: 255px;
    height: 100px;
}

#p-geral {
    color: red;
}

#p-curso {
    font-size: 24px;
}

.p-descricao {
    margin-top: 40px;
    margin-bottom: 100px;
}

.footer-note {
    margin-top: 20px;
    color: #999;
}

.medal {
    width: 20px;
    height: 20px;
}

.gold-medal{
    width: 35px; 
    height: 35px; 
}

.silver-medal {
    width: 35px; 
    height: 35px; 
}

.bronze-medal {
    width: 35px; 
    height: 35px; 
}

/* Estilo dos títulos do footer */
.contact h3,
.social-media h3 {
    color: #ED1B24; 
    font-family: 'Share Tech', sans-serif;
    font-size: 24px; 
}


.contact h3 {
    color: #ED1B24; 
    font-family: 'Share Tech', sans-serif; 
    bottom: 10px;
    position: relative;
    font-size: 30px;
}


.social-media h3 {
    color: #ED1B24;
    font-family: 'Share Tech', sans-serif;
    bottom: 10px;
    position: relative;
    font-size: 30px;
}
.info_icon {
    background-color: #244aa5;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 10;
}
