body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D9D9D9;
    margin: 0;
}

.login-container {
    background-color: #cc2f2f;
    border-radius: 20px;
    width: 1280px;
    height: 642px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-meio {
    background-color: #244AA5;
    display: flex;
    justify-content: space-between; 
    width: 1016px;
    height: 500px;
    border-radius: 40px;
}

.container-esquerda,
.container-direita {
    width: calc((100% - 100px) / 2); 
    height: 500px;
    border-radius: 40px;
    padding: 20px; 
}

.container-esquerda {
    background-color: #244AA5;
}

.container-direita {
    background-color: #fff;
}

.left-content {
    margin-left: 20px;
    color: #fff; 
}

#exampleInputEmail1,
#exampleInputPassword1 {
    width: 330px;
}
.titulo-esquerda,
.titulo-direita {
    margin-bottom: 15px; 
    text-align: center;
    margin-top: 50px;
}

.container-direita button {
    width: 124px;
    margin-bottom: 15px; 
}

.container-esquerda button {
    width: 124px;
    height: 50px;
    background-color: #FABC09;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Poppins',
}
.container-esquerda button:hover {
    background-color: #a37b01;
}
#titulo1-esquerda {
    font-size: 32px;
    font-weight: bold; 
    text-transform: uppercase; 
    font-family: 'Inter', 
}
#titulo2-esquerda {
    font-size: 16px; 
    font-family: 'Inter', 
}
#titulo2-esquerda:first-of-type {
    margin-bottom: 0; 
    font-weight: lighter;
}
#titulo2-esquerda:last-of-type {
    font-weight: lighter; 
}
